<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>wangEditor example</title>
    <style>
        .w-e-text-container {
            /*height: 80vh !important;*/
        }

        #title {
            position: relative
        }

        #ok {
            position: absolute;
            top: 1em;
            right: 1em;
        }
    </style>
    <script type="text/javascript" src="/template/js/http.js"></script>
    <script>

    </script>
</head>

<body>
<p id="title">
    wangEditor demo
<div>
    <button id="ok">确定</button>
</div>
</p>
<div id="div1">
    <h1>标题一</h1>
    <p>
        正文balabala
    </p>
    <h2>标题二</h2>
    <p>
        正文balabala
    </p>
    <h3>标题三</h3>
    <p>
        正文balabala
    </p>
    <h4>标题四</h4>
    <p>
        正文balabala
    </p>
    <h2>标题五</h2>
    <p>
        正文balabala
    </p>
    <h3>标题六</h3>
    <p>
        正文balabala
    </p>
    <h3>标题七</h3>
    <p>
        正文balabala
    </p>
</div>

<!-- <h1>大纲</h1>
 <div id="catalogBox"></div>-->

<script src="https://cdn.jsdelivr.net/npm/wangeditor@latest/dist/wangEditor.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    const app = [[${app}]], textId = [[${text}]];
    /*]]>*/
    const $http = window.$http;
    const initEditor = (id) => {
        const E = window.wangEditor
        const editor = new E('#div1')
        const imgs = []
        /*editor.config.onCatalogChange = function (arr) {
            // 大纲回调
            console.log('onCatalogChange arr', arr)
            const box = document.getElementById("catalogBox")
            box.innerHTML = ''

            let level = 1, levelObj = {
                1: '',
                2: '-',
                3: '--'
            }
            arr.forEach((item, index) => {
                // item 里有 tag:H1,H2,H3,H4,H5, text:标签内文本, id:唯一id

                if (index > 0) {
                    const prevLevelTag = arr[index - 1].tag,
                        levelTag = arr[index].tag,
                        currentTagNum = +levelTag.replace("H", ''),
                        prevTagNum = prevLevelTag.replace("H", "");
                    if (currentTagNum > prevTagNum) {
                        if (currentTagNum <= 3) level++
                    }
                    if (currentTagNum < prevTagNum) level = 1
                }

                const p = document.createElement("p")
                const a = document.createElement("a")
                a.href = "javascript:void(0)"
                a.innerText = levelObj[level] + item.text
                a.onclick = function(){
                    console.log('item.id', item.id)
                    editor.scrollToHead(item.id)
                }
                p.appendChild(a)
                box.appendChild(p)
            })
        }*/
        editor.config.excludeMenus = [
            'video', 'strikeThrough', 'link', 'todo', 'code'
        ]
        editor.config.uploadImgServer = `${app}/common/img`
        editor.config.height = window.innerHeight * 0.8;
        editor.config.uploadImgHooks = {
            // 如果服务器端返回的不是 {errno:0, data: [...]} 这种格式，可使用该配置
            // （但是，服务器端返回的必须是一个 JSON 格式字符串！！！否则会报错）
            customInsert: function (insertImg, result, editor) {
                // 图片上传并返回结果，自定义插入图片的事件（而不是编辑器自动插入图片！！！）
                // insertImg 是插入图片的函数，editor 是编辑器对象，result 是服务器端返回的结果

                // 举例：假如上传图片成功后，服务器端返回的是 {url:'....'} 这种格式，即可这样插入图片：
                /*var url = result.url
                insertImg(url)*/
                imgs.push(result[0]);
                const url = `${window.location.protocol}//${window.location.host}${app}/common/img/${result[0]}`
                insertImg(url)

                // result 必须是一个 JSON 格式字符串！！！否则报错
            }
        }
        editor.create();
        document.getElementById("ok").addEventListener("click", () => {
            $http.post(`${app}/common/text`, {imgIds: imgs, content: editor.txt.html(), id: id}).then(value => {
                value = JSON.parse(value);
                id = value.id;
                alert("ok")
            });
        })
    }
    new Promise(resolve => {
        if (isNaN(textId)) resolve(null);
        else $http.get(`${app}/common/text/${textId}`).then(value => {
            value = JSON.parse(value);
            document.getElementById("div1").innerHTML = value.content;
            resolve(value.id)
        });
    }).then(initEditor)
</script>
</body>

</html>